<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Broly</title>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Broly logs</title>
<link rel="stylesheet" href="static/style.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/gumby/2.6.0/css/gumby.min.css'>

</head>
<body>
<div class="container" style="position:absolute;margin-top:-30%;">
	<h1> Broly </h1>
	<p>  Generic chatbot via scripts or frameworks for Mattermost that enable faster team collaboration.<br/> It manages:</p>
	
</div>
<div style="position:absolute;margin-top:-22%;">
	
	<ul>
	
	{% for item in lines %}
	  <li><b>{{ item }} </b></li>
	  {% endfor %}
	</ul>
</div>
<!-- partial:index.partial.html -->
<div class="beaver">
  <div class="eyes">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="nose">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="mouth">
    <div class="jaws">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="incisors">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
  <div class="whiskers">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="bowtie">
    <div class="left"></div>
    <div class="right"></div>
  </div>
</div>
<div class="tail"></div>
<!-- partial -->
  
</body>
</html>
